<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style/main.css" media="screen" charset="utf-8">

    <script type="text/javascript" href="/script/phaser.min.js"></script>
    <script type="text/javascript" href="/script/game.js"></script>

    <title>Prism</title>

    <style media="screen">

      body {
        text-align: center;
      }

    </style>
  </head>

  <body>
    <main>

      <div id="game">
        <h2>"Something went quite wrong somewhere" - <em>Albert Einstein, 2016</em></h2>
      </div>

      <footer>
        <small>Powered by <a href="https://github.com/teasquat/prism">Prism</a></small>
      </footer>
    </main>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
